<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or defaultTitle }}</title>
        <link rel="icon" href="/logo.svg">
        <link rel="stylesheet" href="/style.css"/> {{ includes | safe }}
    </head>
    <body>
        {% include "_nav.njk" %}
        {% if npmPackage %}
            <h1>&lt;{{ npmPackage.name }}&gt; component</h1>
            <blockquote>
                <p>{{ npmPackage.description }}</p>
            </blockquote>
        {% endif %}
        {{ content | safe }}
        {% if isComponent %}
            <h2>API</h2>
            <p>Generated with <a href="https://github.com/open-wc/custom-elements-manifest/tree/master/packages/to-markdown"><code>@custom-elements-manifest</code></a></p>
            {{ htmlAPI | safe }}
        {% endif %}
        {% if id %}
            <script src="/js/{{ id }}.js" type="module"></script>
        {% endif %}
        <script src="/global.js" type="module"></script>
        <script src="/theme-toggle.js"></script>
        {% if isComponent %}
            <script type="module">
                import Toast from '/toast.js'
                // Demo of edEvents
                window.addEventListener(
                "load",
                function () {
                    document.querySelectorAll("{{ id }}").forEach((el) => {
                    el.addEventListener("edEvent", (e) => {
                    const evt = e.detail
                        console.log(evt);
                        let out = ''
                        for (var key of Object.keys(evt)) {
                            out += `${key}: ${evt[key]}\n`
                        }
                        Toast(out)
                    });
                    });
                },
                false
                );    
            </script>
        {% endif %}
    </body>
</html>