{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "wc"],
  "ignorePatterns": ["**/dist/**", "**/nudeui/**"],
  "extends": [
    "eslint:recommended",
    "@open-wc",
    "plugin:wc/best-practice",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],

  "rules": {
    "@typescript-eslint/ban-ts-comment": "warn",
    "import/no-unresolved": "off",
    "import/extensions": "off"
  },
  "env": {
    "browser": true,
    "es2021": true
  }
}
