<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ed components: A collection of accessible, customizable, web components for education</title>
	<link rel="icon" href="../logo.svg">
	<link rel="stylesheet" href="../style.css" />
    
	
	
</head>
<body>

<nav>
	<a href="#installation">Installation</a>
	<a href="https://github.com/LeaVerou/nudeui/tree/main/">GitHub</a>
</nav>

<h1>ed-components</h1>
<p>A set of web-components for education.</p>
<h2>Components</h2>
<ul>
<li><a href="./ed-survey/"><code>&lt;ed-survey&gt;</code></a></li>
<li></li>
</ul>
<h2>Development</h2>
<h3>Create a new component</h3>
<p>Scaffolded with <code>npm init @open-wc</code>.</p>
<h1>&lt;ed-survey&gt;</h1>
<p>This webcomponent follows the <a href="https://github.com/open-wc/open-wc">open-wc</a> recommendation.</p>
<h2>Installation</h2>
<pre><code class="language-bash">npm i ed-survey
</code></pre>
<h2>Usage</h2>
<pre><code class="language-html">&lt;script type=&quot;module&quot;&gt;
  import &quot;ed-survey/ed-survey.js&quot;;
&lt;/script&gt;

&lt;ed-survey&gt;&lt;/ed-survey&gt;
</code></pre>
<h2>Linting and formatting</h2>
<p>To scan the project for linting and formatting errors, run</p>
<pre><code class="language-bash">npm run lint
</code></pre>
<p>To automatically fix linting and formatting errors, run</p>
<pre><code class="language-bash">npm run format
</code></pre>
<h2>Testing with Web Test Runner</h2>
<p>To execute a single test run:</p>
<pre><code class="language-bash">npm run test
</code></pre>
<p>To run the tests in interactive watch mode run:</p>
<pre><code class="language-bash">npm run test:watch
</code></pre>
<h2>Tooling configs</h2>
<p>For most of the tools, the configuration is in the <code>package.json</code> to reduce the amount of files in your project.</p>
<p>If you customize the configuration a lot, you can consider moving them to individual files.</p>
<h2>Local Demo with <code>web-dev-server</code></h2>
<pre><code class="language-bash">npm start
</code></pre>
<p>To run a local development server that serves the basic demo located in <code>demo/index.html</code></p>




<script src="../global.js" type="module"></script>

</body>
</html>