<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or defaultTitle }}</title>
        <link rel="icon" href="/logo.svg">
        <link rel="stylesheet" href="/style.css"/> {{ includes | safe }}
    </head>
    <body>
        {% include "_nav.njk" %}
        {% if npmPackage %}
            <h1>&lt;{{ npmPackage.name }}&gt; component</h1>
            <blockquote>
                <p>{{ npmPackage.description }}</p>
            </blockquote>
        {% endif %}
        
        {# Include tab layout for components: doc, api, playground #}
        {% if isComponent %}
            {% include "_tabs.njk" %}
        {% else %}
            {{ content | safe }}
        {% endif %}
        
        
        <script type="module">
            import  "/dist/ed-components.js";
        </script>
        
        <script src="/global.js" type="module"></script>
        <script src="/theme-toggle.js"></script>
        {% if isComponent %}
            <script type="module">
                // Demo of edEvents as toasts
                import Toast from '/toast.js'
                window.addEventListener(
                "load",
                function () {
                    document.querySelectorAll("{{ id }}").forEach((el) => {
                    el.addEventListener("edEvent", (e) => {
                    const evt = e.detail
                        console.log(evt);
                        let out = ''
                        for (var key of Object.keys(evt)) {
                            out += `${key}: ${evt[key]}\n`
                        }
                        Toast(out, '⚡ ED-EVENT FIRED ⚡')
                    });
                    });
                },
                false
                );
                // tabs for api
                import '/tabs.js'
            </script>
        {% endif %}
    </body>
</html>